<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
</head>

<body>

    <header id="header">

        <div id="container">

            <a id="logo" [routerLink]="['/home']">
                <img src="../assets/css/img/pochoclo-home.png" alt="">
                <p>LOGO</p>
            </a>

        </div>

    </header>

    <router-outlet></router-outlet>

    <footer id="footer">

        <p>Todos los derechos reservados &copy;<a href="felipevincenti.com" target="_blank">felipevincenti.com</a></p>

    </footer>

</body>

</html>