<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <div id="container">

        <h1>PELICULAS</h1>

        <div id="lista-generos">
            <a class="genero" (click)="listarPeliculas('Todas')"
                [ngClass]="{'generoSeleccionado': generoSeleccionado === 'Todas'}">Todas</a>
            <ng-container *ngFor="let genero of generos">
                <a class="genero" (click)="listarPeliculas(genero)"
                    [ngClass]="{'generoSeleccionado': genero === generoSeleccionado}">{{genero}}</a>
            </ng-container>


        </div>

        <div class="listado-peliculas">

            <div class="peliculas" *ngFor="let pelicula of peliculas" [routerLink]="['/detalles/' + pelicula._id]">

                <img src="{{url + 'obtener-imagen/' + pelicula.image}}" alt="">

                <div class="contenido">
                    <p>{{pelicula.name}}</p>
                    <p>{{pelicula.age}}</p>
                    <p>{{pelicula.duration}} minutos</p>
                </div>

            </div>

        </div>

    </div>

</body>

</html>